/* unica one */
@font-face {
    font-family: 'unica-one';
    src: url('../fonts/unica-one/unicaone-regular-webfont.eot');
    src: url('../fonts/unica-one/unicaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unica-one/unicaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/unica-one/unicaone-regular-webfont.woff') format('woff'),
         url('../fonts/unica-one/unicaone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* vollkorn */
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-Regular.eot');
    src: url('../fonts/vollkorn/Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/vollkorn/Vollkorn-Regular.woff2') format('woff2'),
        url('../fonts/vollkorn/Vollkorn-Regular.woff') format('woff'),
        url('../fonts/vollkorn/Vollkorn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}