*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --duration-time: 0.25s;
}
[data-theme="light"] {
    --primary-color: #575da0;
    --secondary-color: #1A1B2D;
}
  
[data-theme="dark"] {
    --primary-color: #1A1B2D;
    --secondary-color: #575da0;
}
::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* body */
body,
html {
    scroll-behavior: smooth;
    cursor: context-menu;
    text-align: center;
    font-family: 'Vollkorn', sans-serif;
    line-height: 1.5;
    position: relative;
    color: white;
}
#app {
    width: calc(100% - 200px);
    min-height: 100vh;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main {
    flex-grow: 1;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tags */
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a,
i,
span {
    display: inline-block;
}
p {
    font-size: 17px;
    line-height: 2;
}
input,
select {
    width: 100%;
    outline: unset;
    padding: 10px 8px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #6C7072;
    font-family: inherit;
    font-size: 18px;
    color: white;
}
select {
    text-transform: capitalize;
}
option {
    text-transform: capitalize;
    color: #000;
}
button {
    background-color: transparent;
    border: unset;
}
img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/* container */
.container {
    flex-grow: 1;
    width: min(100%,1000px);
    min-height: 100%;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.container-sm {
    width: min(90%,600px);
}
/* title */
.title-lg {
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: clamp(30px, 3vw, 60px);
}
.title-md {
    text-transform: capitalize;
    font-size: clamp(20px,1.5vw,30px);
}
/* btn */
.btn {
    padding: 6px 8px;
    background-color: #A0A5D7;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    font-family: inherit;
    color: #000;
    transition-duration: var(--duration-time);
    font-size: 18px;
}
.btn:hover {
    background-color: #8389db;
}
/* form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}
label {
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
}

/* Responsive */
@media(max-width:768px) {
    #app {
        width: 100%;
    }
}
@media (max-width:600px) {
    p {
        font-size: 16px;
        line-height: 1.8;
    }
}

@media (max-width:376px) {
    /* btn */
    .btn {
        font-size: 15px;
        padding: 10px;
    }
}